.container {
  display: flex;
  margin: 56px 130px 0 130px;
  justify-content: space-between;
}

.Nav_item {
  padding: 12px 8px;
  text-align: center;
  cursor: pointer;
}

.Nav_item:hover {
  color: #2478f0;
}

@media (max-width:600px) {
  .container {
    display: flex;
    margin: auto;
    justify-content: space-between;
    overflow: auto;
  }
}